body {
    font-family: 'Open Sans';
}

/* Title Section */

#title {
    /* background-color: #ffffff; */
    background-image: url(../assets/hero/hello-text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
}

.container-fluid {
    padding: 0% 6%;
}

h1 {
    font-family: 'Maven Pro';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.1;
}

h2 {
    font-family: 'Maven Pro';
}

h3 {
    font-family: 'Maven Pro';
}

h4 {
    font-family: 'Maven Pro';
}

p {
    color: #737373;
}

/* Nav Bar */

.navbar {
    padding: 1rem 0 1rem;
}

.navbar-brand {
    font-family: 'Maven Pro';
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-item {
    padding: 0 15px;
}

/* Hero Buttons */

.hero-button {
    margin: 2% 1% 5% 0;
    padding-left: 4%;
    padding-right: 4%;
}

.hero-text {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Hero Image */

.hero-image-div {
    border-bottom: 2px solid #b4b4b4;
    text-align: center;
}

.hero-image-1 {
    height: 90vh;
    max-height: 970px;
    max-width: 600px;
}

.hero-image-2 {
    height: 90vh;
    max-height: 970px;
    max-width: 600px;
    opacity: 0%;
    position: absolute;
    transition: opacity ease-in-out 200ms;
}

.hero-image-2:hover {
    opacity: 100%;
}

/* About Me Section */

#about {
    padding: 7% 18% 4%;
    text-align: center;
}

/* Design Process Section */

#design-process {
    padding: 4% 12%;
    text-align: center;
}

.design-process-box {
    text-align: center;
    padding: 3% 5%;
}

.dp-icon {
    color: #b4b4b4;
    margin-bottom: 1.5rem;
    transition: color ease-in-out 200ms;
}

.dp-icon:hover {
    color: #737373;
}

/* Technologies Section */

#technologies-know {
    padding: 4% 20% 0%;
    text-align: center;
}

#technologies-learning {
    padding: 0% 27% 4%;
    text-align: center;
}

.technologies-box {
    text-align: center;
    padding: 5%;
}

.icon-image {
    max-width: 120px;
    margin-bottom: 1.5rem;
}

/* Projects Section */

#projects {
    padding: 4% 10%;
    text-align: center;
}

.project-thumbnail {
    padding: 1%;
}

#projects h2 {
    margin-top: 3%;
}

#projects h5 {
    margin-top: 8%;
    margin-bottom: 2%;
}

/* Contact Section */

#contact {
    padding: 4% 15%;
    text-align: center;
}

#contact form {
    margin-top: 3%;
}

/* Footer */

#footer {
    padding: 4% 15%;
    text-align: center;
}

.inner-footer {
    border-top: 2px solid #b4b4b4;
    padding-top: 5%;
}







/* Wonder */

.project-page {
    text-align: center;
    padding: 4% 12%;
}

.project-preview {
    margin-top: 3%;
    margin-bottom: 3%;
}

.project-image {
    max-width: 100%;
    margin-top: 1%;
}

.flyers {
    margin-top: 3%;
}

.instagram {
    margin-top: 3%;
}

.shirt {
    margin-top: 3%;
}