// COLOR VARIABLES
$color-background: #141414;

$color-text: #f9f7f6;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
    background-color: $color-background;
    scroll-behavior: smooth;
}

body {
    max-width: 114rem;
    margin: 0 auto;
    font-family: $font-primary;
    color: $color-text;
    font-weight: 400;
    font-size: 1.8rem;
}

.container {
    display: grid;
    // grid-template-rows: ;
    // grid-template-columns: ;
}