.design-process {
    margin-top: 30rem;
    
    &__heading {
        max-height: 10rem;
        margin-left: 15rem;
        margin-bottom: 5rem;
    }
    
    &__steps {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5rem;
        justify-items: flex-start;
    }

    &__text {
        margin-top: 2rem;
    }
}