.hero {
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        align-items: center;
    }

    &__text {
        text-align: right;
    }

    &__image {
        width: 70%;
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        filter: grayscale(100);
        transition: all .2s;

        &:hover {
            filter: grayscale(0);
        }
    }
}