.heading-1 {
    font-size: 15rem;
    letter-spacing: -.5rem;
}

.heading-2 {
    font-size: 10rem;
    letter-spacing: -.2rem;
}

.heading-3 {
    font-size: 3.5rem;
}

.btn {
    text-decoration: none;
    padding: 1.2rem 3.3rem;
    border: solid 2px $color-text;
    border-radius: 1rem;
    color: $color-text;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-text;
        color: $color-background;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}